<!--
 ! Excerpted from "Agile Web Development with Rails"
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com for more book information.
-->
<%  @page_title = "Administer your Store" -%>

<h1>Depot Store Status</h1>

<p>
  Total orders in system: <%= @total_orders %>
</p>

<p>
  Orders pending shipping: <%= @pending_orders %>
</p>