<!--
 ! Excerpted from "Agile Web Development with Rails"
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com for more book information.
-->
<h1>Login#delete_user</h1>
<p>Find me in app/views/login/delete_user.rhtml</p>
