<!--
 ! Excerpted from "Agile Web Development with Rails"
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com for more book information.
-->
<% @page_title = "User List" -%>
<table>
<% for user in @all_users -%>
<tr>
  <td><%= user.name %></td>
  <td><%= link_to("(delete)", :action => :delete_user, :id => user.id) %></td>
</tr>
<% end -%>
</table>