<!--
 ! Excerpted from "Agile Web Development with Rails"
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com for more book information.
-->
<div class="olheader">Orders To Be Shipped</div>

<%= form_tag(:action => "ship") %>

<table cellpadding="5" cellspacing="0">
<%= render(:partial => "order_line", :collection => @pending_orders) %>
</table>

<br />
<input type="submit" value=" SHIP CHECKED ITEMS " />

<%= end_form_tag %>
<br />

